/* Navigation bar styling */
.navbar a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

/* Body image for the landing page */
.home-image {
  background: url(../assets/images/ZEUS.background.jpg)no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

/* Styling for the welcome message and quote landing page */
.container {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 250px;
  margin-bottom: 275px;
}

.about-us {
  text-align: center;
  color: white;
  font-size: 150%;
  background-color: black;
  background: linear-gradient(to bottom, #000000, #232222);
  padding: 75px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.scroll-down-arrow {
  text-align: center;
  margin-top: 20px;
}

.scroll-down-arrow i {
  font-size: 24px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(10px);
  }
  60% {
      transform: translateY(5px);
  }
}

h2{
text-align: center;
color: white;
padding-top: 100px;
padding-bottom: 0px;
margin: 0;
}

#memberships {
display: flex;
flex-wrap: wrap;
margin-top: 0;
padding: 0;
background-color: black;
background: linear-gradient(to bottom, #000000, #232222);
}

#membership-card-size{
width: 290px;
height: 500px;
}

#bronze {
  background-color: #cd7f32;
color: black;
font-size: 150%;
margin: 0;
padding: 0;
border-radius: 10px 10px 0 0;
}

#silver {
  background-color: #c0c0c0;
color: black;
font-size: 150%;
margin: 0;
padding: 0;
border-radius: 10px 10px 0 0;
}

#gold {
  background-color: #d4af37;
color: black;
font-size: 150%;
margin: 0;
padding: 0;
border-radius: 10px 10px 0 0;
}

#membership-text, li{
text-align: center;
list-style-type: none;
padding: 5px;
margin: 5px;
}

footer{
  text-align: center;
  color: white;
  font-size: 150%;
  background-color: black;
  background: linear-gradient(to bottom, #000000, #232222);
  padding: 75px;
  margin: 0;
}

/* Body image for facilities page */
.facilities-image{
  background: url(../assets/images/facilities\ page.jpg)no-repeat center center;
  text-align: center;
}

/* Padding and margin reset for the whole cards */
.card {
  margin: 0;
  padding: 0;
}

/* Animation when a card is hovered over */
.card:hover {
  transform: scale(1.05);
}

/* Styling for the images on top of the cards */
.card-image-top {
  max-width: 100%;
  padding: 0;
  margin: 0;
  max-height: 100%;
}

/* Styling for the content of the cards */
.card-body {
  text-align: center;
  color: black;
  letter-spacing: 0.5px;
  font-size: 105%;
  padding: 10px;
}

/* Styling to display cards in lines of two */
.gym {
  display: inline-block;
}

.signup-image{
  background: url(/assets/images/sign\ up.png)no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 600px;
  color: black;
}

.form-image {
  max-height: 300px;
  max-width: 300px;
  margin-right: 20px;
}